<!-- Section-->
<section class="py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <a routerLink="/products/update-product/{{ productDetail.id }}" class="btn btn-info my-3">Update Product</a>
                </div>
                <div>
                    <a routerLink="/products/delete-product/{{ productDetail.id }}" class="btn btn-info my-3">Delete Product</a>
                </div>
                <div class="card">
                    <!-- Product image-->
                    <img class="img-fluid" src="{{ productDetail.productImg }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-left">
                            <!-- Product name-->
                            <h1 class="fw-bolder">{{ productDetail.productName }} {{ productID }}</h1>
                            <!-- Product price-->
                            <h2><strong>${{ productDetail.price }}</strong></h2>
                        </div>
                        <div class="py-3 text-justify">
                            {{ productDetail.descriptions }}
                        </div>
                        <div align="center"><button class="btn btn-success btn-lg">Shop Now</button></div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer">

                    </div> -->
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</section>
